@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================== root/base ================== */
:root {
  @apply font-sans text-base leading-6;
}

/* bg-neutral-500 also possible */
@layer base {
  body {
    @apply bg-base-200 text-base-content;
  }
}

/* ================== card related ================== */
.card {
  @apply shadow-lg;
}

.card-body {
  @apply bg-base-100 shadow-lg w-full max-w-2xl p-8 rounded-xl;
}

.card-title {
  @apply text-center mb-6 text-3xl font-bold text-primary-content;
}

.form-control {
  @apply space-y-6;
}

.card-section {
  @apply mt-6 bg-base-300 p-6 rounded-lg shadow-inner overflow-x-auto;
}

.card-section-title {
  @apply text-xl font-bold text-secondary mb-4;
}

/* ================== label/value ==================*/
.label {
  @apply font-medium text-gray-500;
}
.value {
  @apply font-mono;
}
.label-value-pair {
  @apply p-3 bg-base-200 rounded-md flex items-center justify-between mb-3;
}

.btn {
  @apply btn-secondary;
}

/* ================== Popup animation ==================*/
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes easeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-popup {
  animation:
    popup 0.3s ease-out,
    easeOut 2.7s ease-in 0.3s forwards;
}
