@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root-level styles */
:root {
  @apply font-sans text-base leading-6;
}

/* Base body styles */
@layer base {
  body {
    @apply bg-base-200 text-base-content;
  }
}

/* Popup animation */
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes easeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-popup {
  animation:
    popup 0.3s ease-out,
    easeOut 2.7s ease-in 0.3s forwards;
}
